{% load staticfiles %}

<!-- Core  -->
<script src="{% static "global/vendor/jquery/jquery.js" %}"></script>
<script src="{% static "global/vendor/bootstrap/bootstrap.js" %}"></script>
<script src="{% static "global/vendor/animsition/animsition.js" %}"></script>
<script src="{% static "global/vendor/asscroll/jquery-asScroll.js" %}"></script>
<script src="{% static "global/vendor/mousewheel/jquery.mousewheel.js" %}"></script>
<script src="{% static "global/vendor/asscrollable/jquery.asScrollable.all.js" %}"></script>
<script src="{% static "global/vendor/ashoverscroll/jquery-asHoverScroll.js" %}"></script>
<script src="{% static "global/vendor/waves/waves.js" %}"></script>

<!-- Plugins -->
<script src="{% static "global/vendor/jquery-mmenu/jquery.mmenu.min.all.js" %}"></script>
<script src="{% static "global/vendor/moment/moment.min.js" %}"></script> 
<script src="{% static "global/vendor/switchery/switchery.min.js" %}"></script>
<script src="{% static "global/vendor/intro-js/intro.js" %}"></script>
<script src="{% static "global/vendor/screenfull/screenfull.js" %}"></script>
<script src="{% static "global/vendor/slidepanel/jquery-slidePanel.js" %}"></script>

<script src="{% static "global/vendor/matchheight/jquery.matchHeight-min.js" %}"></script> 
<script src="{% static "global/vendor/footable/footable.all.min.js" %}"></script>

<script src="{% static "global/vendor/chartist-js/chartist.min.js" %}"></script>
<script src="{% static "global/vendor/matchheight/jquery.matchHeight-min.js" %}"></script>

<script src="{% static "global/vendor/toastr/toastr.js" %}"></script>

<script src="{% static "global/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>
<script src="{% static "global/vendor/formatter-js/jquery.formatter.js" %}"></script>
<script src="{% static "global/vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" %}"></script>
<script src="{% static "global/vendor/dropdown-js/jquery.dropdown.js" %}"></script>


<script src="{% static "global/vendor/webui-popover/jquery.webui-popover.min.js" %}"></script>
{% if agenda %}
<script src="{% static "global/vendor/jquery-ui/jquery-ui.min.js" %}"></script>
{% endif %}
<script src="{% static "global/vendor/jquery-selective/jquery-selective.min.js" %}"></script>


<script src="{% static "global/vendor/select2/select2.min.js" %}"></script>

<script src="{% static "global/vendor/datatables/jquery.dataTables.js" %}"></script>
<script src="{% static "global/vendor/datatables-fixedheader/dataTables.fixedHeader.js" %}"></script>
<script src="{% static "global/vendor/datatables-bootstrap/dataTables.bootstrap.js" %}"></script>
<script src="{% static "global/vendor/datatables-responsive/dataTables.responsive.js" %}"></script>
<script src="{% static "global/vendor/datatables-tabletools/dataTables.tableTools.js" %}"></script>
<script src="{% static "global/vendor/asrange/jquery-asRange.min.js" %}"></script>
<script src="{% static "global/vendor/bootbox/bootbox.js" %}"></script>

<script src="{% static "global/vendor/alertify-js/alertify.js" %}"></script>

<script src="{% static "global/vendor/bootstrap-datepicker/bootstrap-datepicker.js" %}"></script>
<script src="{% static "global/vendor/clockpicker/bootstrap-clockpicker.min.js" %}"></script>

<!-- fullcalendar - remark 
<script src="{% static "global/vendor/fullcalendar/fullcalendar.js" %}"></script>
<script src="{% static "global/vendor/fullcalendar/lang/pt-br.js" %}"></script>
-->

<script src="{% static "js/fullcalendar-scheduler/lib/fullcalendar.min.js" %}"></script> 
<script src="{% static "js/fullcalendar-scheduler/scheduler.min.js" %}"></script>
<script src="{% static "js/fullcalendar-scheduler/lib/locale/pt-br.js" %}"></script>

<script src="{% static "global/vendor/magnific-popup/jquery.magnific-popup.js" %}"></script>

<script src="{% static "global/vendor/plyr/plyr.js" %}"></script>

<script src="{% static "global/vendor/d3/d3.min.js" %}"></script>
<script src="{% static "global/vendor/c3/c3.min.js" %}"></script>

<script src="{% static "global/vendor/mapbox.js/mapbox.js" %}"></script>
<script src="{% static "global/vendor/mapbox.js/plugins/leaflet.markercluster.js" %}"></script>

<!-- Scripts -->
<script src="{% static "global/js/core.js" %}"></script>
<script src="{% static "assets/js/base_site.js" %}"></script>
<script src="{% static "assets/js/base_sections/menu.js" %}"></script>
<script src="{% static "assets/js/base_sections/menubar.js" %}"></script>
<script src="{% static "assets/js/base_sections/gridmenu.js" %}"></script>
<script src="{% static "assets/js/base_sections/sidebar.js" %}"></script>
<script src="{% static "global/js/configs/config-colors.js" %}"></script>
<script src="{% static "assets/js/base_configs/config-tour.js" %}"></script>
<script src="{% static "global/js/components/asscrollable.js" %}"></script>
<script src="{% static "global/js/components/animsition.js" %}"></script>
<script src="{% static "global/js/components/slidepanel.js" %}"></script>
<script src="{% static "global/js/components/switchery.js" %}"></script>
<script src="{% static "global/js/components/tabs.js" %}"></script>

<script src="{% static "global/js/components/select2.js" %}"></script>

<script src="{% static "global/js/components/jquery-placeholder.js" %}"></script>
<script src="{% static "global/js/components/formatter-js.js" %}"></script>
<script src="{% static "assets/examples/js/base_uikit/dropdown.js" %}"></script>

<script src="{% static "global/js/components/datatables.js" %}"></script>
<script src="{% static "assets/examples/js/base_tables/datatable.js" %}"></script>
<script src="{% static "assets/examples/js/base_uikit/icon.js" %}"></script>
<script src="{% static "global/js/components/bootstrap-datepicker.js" %}"></script>
<script src="{% static "global/js/components/clockpicker.js" %}"></script>
<script src="{% static "global/js/plugins/action-btn.js" %}"></script> 
<script src="{% static "global/js/components/alertify-js.js" %}"></script> 
<script src="{% static "assets/examples/js/base_tables/footable.js" %}"></script> 
<script src="{% static "global/js/components/plyr.js" %}"></script>
<script src="{% static "global/js/components/matchheight.js" %}"></script>

<script src="{% static "js/wpn/web_push_notification.js" %}"></script>
<script src="{% static "js/notify/notifyX.js" %}"></script>


<!-- Usado no app_operational no block plugins_scripts -->
<script src="{% static "global/vendor/chartist-js/chartist.min.js" %}"></script>
{% if agenda %}
<script src="{% static "global/vendor/jquery-ui/jquery-ui.min.js" %}"></script>
{% endif %}
<script src="{% static "global/vendor/jquery-selective/jquery-selective.min.js" %}"></script>
<script src="{% static "global/vendor/alertify-js/alertify.js" %}"></script>
<script src="{% static "global/vendor/bootstrap-datepicker/bootstrap-datepicker.js" %}"></script>
<script src="{% static "global/vendor/clockpicker/bootstrap-clockpicker.min.js" %}"></script>

<script src="{% static "js/fullcalendar-scheduler/lib/fullcalendar.min.js" %}"></script> 
<script src="{% static "js/fullcalendar-scheduler/scheduler.min.js" %}"></script>
<script src="{% static "js/fullcalendar-scheduler/lib/locale/pt-br.js" %}"></script>

<script src="{% static "global/vendor/d3/d3.min.js" %}"></script>
<script src="{% static "global/vendor/c3/c3.min.js" %}"></script>

<script src="{% static "global/vendor/mapbox.js/mapbox.js" %}"></script>
<script src="{% static "global/vendor/mapbox.js/plugins/leaflet.markercluster.js" %}"></script>
    

{% endblock %}